<!DOCTYPE html>

<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>Carbon Dividend Calculator</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Carbon Dividend Calculator</title>
</head>
<body>
    <!-- navbar-light bg-light -->
    <!-- <div class="d-flex justify-content-between hidden-lg-up"> -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" id="navbar_header">
      <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/calc/" id="navbar-title">Carbon Dividend Calculator</a>
        </div>

        <!-- this div hides the items from the navigation bar for smaller screens -->
          <div id="navbar" class="collapse navbar-collapse">
            <!-- navbar-right -->
              <ul class="nav navbar-nav">
                  <li>
                    <a href="/calc/">Home</a>
                  </li>
                  <li class="active">
                    <a href="/calc/input">Calculator</a>
                  </li>
                  <li>
                    <a href="/calc/about">About</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Carbon Dividend Calculator</h1>
        <p class="lead">Carbon fee and dividend puts a price on carbon and returns the money to households and businesses</p>
    </div>
</header>

<section id="info-1">
    <div class="text-center">
        <div class="row">
            <div class="col-lg-8 mx-auto">
            {% block 'content1' %}
            {{ input_form.non_field_errors }}

            <form action="" method = "post">
                {% csrf_token %}

                <table cellspacing="0">
                    {% if formtitle %}
                        <tr><td colspan="2"><strong>{{ formtitle }}</strong></td></tr>
                    {% endif %}

                    {% for field in input_form %}
                            {% if field.errors %}
                                <tr><td colspan="2">{{ field.errors }}</td></tr>
                            {% endif %}
                            <tr><td>{{ field.label_tag }}</td><td>{{ field }}</td></tr>
                    {% endfor %}

                    <tr><td colspan="2"><input class="submit" type="submit" value="Next" /></td></tr>
                </table>
            </form>
        </div>
    </div>
    {% endblock %}
</div>
</section>


<!-- <section id="info-2">
    <div class="text-center">
        <div class="row">
            <div class="col-lg-8 mx-auto">
            {% block 'content2' %}
            {{ input_form.non_field_errors }}

            <form action="" method = "post">
                {% csrf_token %}

                <table cellspacing="0">
                    {% if formtitle %}
                        <tr><td colspan="2"><strong>{{ formtitle }}</strong></td></tr>
                    {% endif %}

                    {% for field in input_form %}
                            {% if field.errors %}
                                <tr><td colspan="2">{{ field.errors }}</td></tr>
                            {% endif %}
                            <tr><td>{{ field.label_tag }}</td><td>{{ field }}</td></tr>
                    {% endfor %}

                    <tr><td colspan="2"><input class="submit" type="submit" value="Submit" /></td></tr>
                </table>
            </form>
        </div>
    </div>
    {% endblock %}
</div>
</section> -->


</body>
</html>